
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row clearfix">
    <div class="card">
        <div class="container-fluid">
            <div>
                <div class="header">
                    <h1>Bienvenido al panel administrativo @Session["UserName"].ToString()</h1>
                </div>
                <div class="body">
                    <div>
                        <h4>Frases Motivacionales</h4>
                        <p>“Tenemos derecho a ser diferentes”</p>


                        <p>Cuando aceptamos nuestros límites, vamos más allá de ellos.</p>


                        <p>El miedo es la mayor discapacidad de todas.</p>

                        <p>El objetivo de la educación es preparar a los niños y  jóvenes para educarse a sí mismos  y a los demás  largo de sus vidas.</p>


                        <p>La educación es el arma más poderosa que puedes usar para cambiar el mundo-Nelson Mandela.</p>

                        <p>La educación es el arma más poderosa que puedes usar para cambiar el mundo-Nelson Mandela.</p>

                        <p>Los estudiantes de educación especial no deben quedar fuera de los mecanismos de rendición de cuentas que aseguren que estén aprendiendo y alcanzando su potencial más alto-Dianne Feinstein.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>